<div
  class="guide-item"
  [ngStyle]="{
    transform: 'translate(' + (itemStyle$ | async).x + 'px,' + (itemStyle$ | async).y + 'px)',
    width: (itemStyle$ | async).width + 'px',
    height: (itemStyle$ | async).height + 'px'
  }"
>
  <div #target class="target" (click)="nextClick()" [ngStyle]="{ cursor: item?.bindEvent ? 'pointer' : 'normal' }"></div>

  <div class="message-wrapper" #messageBox>
    <div class="close-button">
      <button (click)="close()"><i nz-icon type="close"></i>关闭向导</button>
    </div>
    <div class="message-box">
      <img src="assets/user-guide/message-box.png" class="msgbox-back" />
      <div class="description">
        <span [innerHtml]="item?.description"></span>
        <div class="nomore">
          <label nz-checkbox [(ngModel)]="noMore">不再提示</label>
        </div>
      </div>
    </div>
    <div class="next-button">
      <button (click)="nextClick()"><i *ngIf="loading" nz-icon spin type="loading"></i> {{ buttonText }}</button>
    </div>
  </div>
</div>
